body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.card {
    background-color: #fff;
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
    background-color: #ff007f;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: justify;
    font-size: large;
    overflow-y: auto;
}